{% extends 'base.html' %}

<body>
    {% block content %}
    <ul id="Settings-Holder">
      <!--ScreenReader-->  
    <li id="Screen-Reader">
        <h3>Screenreader</h3>
        <ul>
            <li><button>On</button></li>
            <li><button>Off</button></li>
        </ul>
   
    <!--Text Size-->  
    <li id="Text-Size">
        <h3>Text Size</h3>
        <ul>
            <li><button>+</button></li>
            <li><button>-</button></li>
        </ul>

    <!--Volume-->
    <li id="Volume">
        <h3>Volume</h3>
        <ul>
            <li><button>+</button></li>
            <li><button>-</button></li>
        </ul>
    
    <!--Text Boldness-->
    <li id="Text-Boldness">    
        <h3>Text Boldness</h3>
        <ul>
            <li><button>On</button></li>
            <li><button>Off</button></li>

    </ul>
    {% endblock %}
    
</body>
</html>