{% extends 'base.html' %}

<head>
    {% block head %}
    <title>{% block quiztitle %}Quiz{% endblock %}</title>
    {% endblock %}
</head>

<body>

    {% block content %}
	<p class="hide-me"> The letter you must identify is: </p>
	<p>{{ question }} </p>
	<p class="hide-me">. The options are: </p>
	{% for option in options %}
	{% set filepath = "letters/" + option + ".jpg" %}
	{% set caption = captions[loop.index - 1] %}
        <button><img src={{ url_for('static', filename = filepath) }} alt="Button" alt=""></button>
	<p class="hide-me"> {{ caption }} </p>
	{% endfor %}
    <script src="script.js"></script>
    {% endblock %}
</body>

</html>