{% extends 'base.html' %}

<body>

    {% block content %}
    <audio controls autoplay>
    {% set audiopath = "quiz_audio.mp3" %}
    <source src={{ url_for('static', filename = audiopath) }} type="audio/mpeg">
    </audio>
	<p class="hide-me"> The letter you must identify is: </p>
	<p style=font-size:35px>{{ question }} </p>
	<p class="hide-me">. The options are: </p>
	{% for option in options %}
	{% set filepath = "letters/" + option + ".jpg" %}
	{% set caption = captions[loop.index - 1] %}
        {% if option == question %}
        <a href="/quiz"><button ><img width="500" height="500" src={{ url_for('static', filename = filepath) }} alt="Button" alt=""></button></a>
        {% else %}
        <button ><img width="500" height="500" src={{ url_for('static', filename = filepath) }} alt="Button" alt=""></button>
        {% endif %}
	<p class="hide-me"> {{ caption }} </p>
	{% endfor %}
    <script src="script.js"></script>
    {% endblock %}
</body>

</html>